.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  max-width: 500vh;
}

body {
  margin: 0;
}

.question-container {
  background-color: white;
  box-shadow: 1px 1px 1px 1px gray;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

button {
  color: purple;
  border: none;
  background-color: white;
}
.questions {
  background-color: whitesmoke;
  color: black;
  max-width: 300px;
  margin: 2rem;
}
h1 {
  margin: 2rem;
  color: purple;
}
.ans {
  color: purple;
}
